/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .cover {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  /*opacity: 0; */
  /*animation: fadeout 20s 1s infinite; */
}

@keyframes fadeout {
  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

section h3 {
  font-size: 40px;
  margin-top: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 2px solid black;
  width: 600px;
}

/* Navbar Styles */

nav .logo {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

nav .navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

nav a.nav-link {
  font-size: 20px;
  margin: 0 10px;
  line-height: 2.5rem; /* Center vertically the textual links */
}

nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #C19A6B;
}

/*Header */

header h1 {
  position: relative;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000000;
  z-index: 3;
}

header h3 {
  position: relative;
  z-index: 3;
}

header .logo {
  position: relative;
  z-index: 3;
}

/* About SpazioTasso section */
.spaziotasso p {
  text-align: center;
  font-size: 25px;
  margin: 10px 40px;
}

/* Prodotti Section */

.prodotti p {
  text-align: center;
  font-size: 25px;
  margin: 10px 40px;
}



/* Contacts section */

.contacts {
  height: 150px;
  width: 100%;
  background-color: #C19A6B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts h3 {
  font-size: 30px;
}

.contacts .social-list {
  list-style: none;
  display: flex;
}

.contacts .social-list li a {
  color: rgba(0,0,0,0.8);
}

.contacts .social-list li a:hover {
  color: rgba(0,0,0,1);
}

.contacts .social-list li {
  margin: 0 20px;
}

/* Footer style */

footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: #FFFF;
  display: flex;
  align-items: center;
}

footer p {
  padding: 0;
  margin: 0 20px;
  font-size: 14px;
}
